*{
    margin:0;
    padding: 0;
}
body{
    background-color: #230E3D;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-bar{
    background-color: #230E3D;
    padding: 30px 200px;
    border-bottom: 1px solid #9100F8;
}
.nav-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:white;
    font-weight: 700;
    font-size: 2.3rem;
     
}
.logo span{
    background: linear-gradient(
         20deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    -webkit-background-clip: text;
    color: transparent;
}
.nav-link{
    display: flex;
    gap:32px;
    list-style: none;
    padding: 0;
    margin:0;
}
.nav-link a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.nav-btn{
    background: linear-gradient(
        20deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    color:white;
    border: none;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    gap:4px;
   border-radius: 60px;
   cursor: pointer;
}
 .nav-img{
    display: none;

}
@keyframes btn-animation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}
.nav-btn:hover{
   animation: btn-animation 1s ease-in 1s infinite;
}
.hero{
    background-image: url(./images/hero-bg.png);
    background-position: center;
    position: relative;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero-circle{
    position: absolute;
    top:50%;
    left:50%;
    height: 340px;
    width: 340px;
    transform: translate(-50%, -10%);
    
   
      
}
.hero-logo{
    position: relative;

}
.new-badge{
    position: absolute;
     top: 10px;
    left: 70px; 
    background: rgb(65, 227, 65);
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    /* margin-left: 877px; */
    /* margin-right: 648px; */
    /* margin-bottom: 609px; */
    margin-top: -5px;
}
.micphn{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-40%, -14%);
    display: flex;
    height: 200px;
    width: 200px;
    padding:69px 75px 81px 75px;
}
.hero-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
 .title{
    font-size: 3.8rem;
    color: white;
    margin-top: 350px;
    margin-bottom: 16px;
    text-align: center;
} 
.subtitle {
    font-size: 1rem;
    color: rgb(172, 167, 167);
    margin-bottom: 20px;
}
.hero-btn{
    display: flex;
    gap:12px;
    justify-content: center;   
}
.btn-grp{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}
.btn-spotify{
    color: white;
    background: linear-gradient(
        20deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    border-radius: 70px;

}
.btn-msg{
    color: rgb(13, 178, 13);
    background-color: transparent;
    border: 1px solid rgb(13, 178, 13);
    border-radius: 80px;
}
.about{
    padding: 80px 200px;
}
.about-podcast{
    margin: 0 auto;
    text-align: center;
}
.about-podcast h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.about-podcast p{
    font-size: 1rem;
    color: rgb(172, 167, 167);
    margin-bottom: 30px;
}
.second-pera{
    justify-content: center;
    font-size: 1rem;
    color: rgb(172, 167, 167);
    margin-bottom:50px ;
}
.line{

    height: 1px;
     border: none;
    background-color: #480875;
   margin-bottom: 70px;

}  
.blogs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
    
}
.blog span{
    font-size: 1rem;
    color: rgb(172, 167, 167);
}
.blog{
    font-size: 2rem;
    color: rgb(13, 178, 13);
}
.container{
    background-color: #2c0858;
    padding: 120px 200px;
}
.container h2{
           text-align: center;
           font-style: bold;
           font-weight: 700;
           font-size: 3rem;
           margin-bottom: 40px;
           color: rgba(255, 255, 255, 1);
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.grid-container{
    display: grid;
    gap:30px;
    grid-template-areas:
    " card1 card2 card2"
    " card1 card3 card3"
    " card4 card4 card5"
     ;
  
    color: rgba(255, 255, 255, 1);

}
.card{
    padding: 40px;
    border-radius: 20px;
    text-align: left;
      background-color: #3f0a65;
     
}
.card img{
    margin-top: 30px;
    margin-bottom: 16px;
}
.card h2{
    font-size: bold;
    font-size:1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}
.card p{
 font-size: 1rem;
 font-weight: 400;
 color:rgb(172, 167, 167);
}
.features{
    padding: 120px 200px;
    color: white;
}
.features h2{
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 50px;
}
.features-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.feature-card{
    background-color: #3f0a65;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: left;
}
.feature-card iframe{
    width: 100%;
    height: 200px; 
    border-radius: 10px;
}
/* .ply-btn{
    background:transparent url(./images/youtube.png) no-repeat center;
    background-size: 60%;
    width: 80%;
    height: 80%;
    cursor: pointer;
} */
.feature-card h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.feature-card p{
    color: rgb(172, 167, 167);
    margin: 10px 0;
    font-size: 1rem;
}
.time{
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-top: 15px;
    font-size: 1rem;
    color: rgb(20, 216, 20);
}
.host{

    color:white;
    padding: 0 200px 120px 200px;
    
}
.host h2{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 3rem;
}
.host-section{
    background-color: #3f0a65;
    display: flex;
    gap:30px;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
    margin: auto;
    
}
.host-info h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.host-info p{
    color: rgb(172, 167, 167);
    font-size: 1rem;
    font-weight: 400;

}
.social{
    display: flex;
    gap:10px;
    margin-top: 20px;
     
   
}
.icon{
    height: 36px;
    width: 36px;
    padding: 6px;
    border: 1px solid #9100F8;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.footer-section{
    background-image:url(./images/footer-bg.png);
    height: 400px;
    background-position: center;
    
}
.footer-container{
    padding: 50px 20px;
    margin:auto;
    border-radius: 20px;
    
}
.footer-container h2{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: 800;
    font-size: 3.6rem;

}
.footer-container h2 span{
     background: linear-gradient(
         20deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    -webkit-background-clip: text;
    color: transparent;
}
.footer-platform{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap:40px;
}
.footer-platform span{
    color: rgb(172, 167, 167);
    font-size: 1rem;
    font-weight: 500;
}
.copyright{
    text-align: center;
    color: rgb(172, 167, 167);
    font-size: 1rem;
    margin-top: 50px;
    
}

@media screen and (max-width:576px) {
    .nav-link, .nav-btn{
        display: none;
    }
    .nav-img{
        display: block;
    }
    .nav-bar{
        padding: 15px 20px;
    }
    .logo{
        font-size: 1.8rem;
    }
    .container{
        position: relative;
        padding:15px 20px;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
         "card4"
         "card5"
        ;
        padding: auto;
    }
    .container h2{
        font-size: 1.8rem;
        margin-bottom:25px;
    }
    .card{
       padding: 30px 25px;
       
    }
    .features{
        padding: 60px 15px;
    }
    .features h2{
        font-size: 2rem;
        margin-bottom: 30px;
    }
    .features-container{
        grid-template-columns: 1fr;
        gap:20px;
    }
    .host{
        padding: 0 15px 60px 15px;
    }
    .host h2{
        font-size: 2rem;
        margin-bottom: 25px;
    }
    .host-section{
        flex-direction: column;
        gap:20px;
        padding: 20px;
    }
    .host-info h3,p{
        text-align: center;
    }
    .footer-container{
        padding: 30px 15px;
    }
    .footer-container h2{
        font-size: 2.5rem;
    }
    .footer-platform{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:15px;
    }

}

